In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("train.csv")
df = df.drop(["PassengerId","Cabin"], axis = 1)
df = df.replace("male",0).replace("female",1).replace("S",0).replace("C",1).replace("Q",2)
df.count()

y = df["Survived"].as_matrix()

In [105]:
honor = []
for i in df["Name"]:
    if "Master" in i :
        honor.append(0)
    elif "Mr" in i :
        honor.append(1)
    elif "Miss" in i :
        honor.append(2)
    elif "Mrs" in i :
        honor.append(3)
    else:
        honor.append("4")
    
df['honor'] = np.array(honor)
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1

In [106]:
df = df.drop(["SibSp","Parch","Survived","Name","Ticket","Fare"],axis=1)

In [107]:
df["Embarked"].fillna(1)
df.count()

Pclass        891
Sex           891
Age           714
Embarked      889
honor         891
FamilySize    891
dtype: int64

In [129]:
df = df.fillna(df.mean())
df

     Pclass  Sex        Age  Embarked honor  FamilySize
0         3    0  22.000000       0.0     1           2
1         1    1  38.000000       1.0     1           2
2         3    1  26.000000       0.0     2           1
3         1    1  35.000000       0.0     1           2
4         3    0  35.000000       0.0     1           1
5         3    0  29.699118       2.0     1           1
6         1    0  54.000000       0.0     1           1
7         3    0   2.000000       0.0     0           5
8         3    1  27.000000       0.0     1           3
9         2    1  14.000000       1.0     1           2
10        3    1   4.000000       0.0     2           3
11        1    1  58.000000       0.0     2           1
12        3    0  20.000000       0.0     1           1
13        3    0  39.000000       0.0     1           7
14        3    1  14.000000       0.0     2           1
15        2    1  55.000000       0.0     1           1
16        3    0   2.000000       2.0     0           6
17        2    0  29.699118       0.0     1           1
18        3    1  31.000000       0.0     1           2
19        3    1  29.699118       1.0     1           1
20        2    0  35.000000       0.0     1           1
21        2    0  34.000000       0.0     1           1
22        3    1  15.000000       2.0     2           1
23        1    0  28.000000       0.0     1           1
24        3    1   8.000000       0.0     2           5
25        3    1  38.000000       0.0     1           7
26        3    0  29.699118       1.0     1           1
27        1    0  19.000000       0.0     1           6
28        3    1  29.699118       2.0     2           1
29        3    0  29.699118       0.0     1           1
..      ...  ...        ...       ...   ...         ...
861       2    0  21.000000       0.0     1           2
862       1    1  48.000000       0.0     1           1
863       3    1  29.699118       0.0     2          11
864       2    0  24.000000       0.0     1           1
865       2    1  42.000000       0.0     1           1
866       2    1  27.000000       1.0     2           2
867       1    0  31.000000       0.0     1           1
868       3    0  29.699118       0.0     1           1
869       3    0   4.000000       0.0     0           3
870       3    0  26.000000       0.0     1           1
871       1    1  47.000000       0.0     1           3
872       1    0  33.000000       0.0     1           1
873       3    0  47.000000       0.0     1           1
874       2    1  28.000000       1.0     1           2
875       3    1  15.000000       1.0     2           1
876       3    0  20.000000       0.0     1           1
877       3    0  19.000000       0.0     1           1
878       3    0  29.699118       0.0     1           1
879       1    1  56.000000       1.0     1           2
880       2    1  25.000000       0.0     1           2
881       3    0  33.000000       0.0     1           1
882       3    1  22.000000       0.0     2           1
883       2    0  28.000000       0.0     1           1
884       3    0  25.000000       0.0     1           1
885       3    1  39.000000       2.0     1           6
886       2    0  27.000000       0.0     4           1
887       1    1  19.000000       0.0     2           1
888       3    1  29.699118       0.0     2           4
889       1    0  26.000000       1.0     1           1
890       3    0  32.000000       2.0     1           1

[891 rows x 6 columns]

In [121]:
X = df.as_matrix()

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [123]:
forest = RandomForestClassifier(min_samples_leaf=4, random_state=1)
forest.fit(X_train, y_train)
print('Train score: {}'.format(forest.score(X_train, y_train)))
print('Test score: {}'.format(forest.score(X_test, y_test)))

Train score: 0.8637724550898204
Test score: 0.8385650224215246

In [124]:
from sklearn.ensemble import GradientBoostingClassifier
gbct = GradientBoostingClassifier(random_state=1, max_depth=4, learning_rate=0.05)
gbct.fit(X_train, y_train)
print('train accuracy: %.3f' % gbct.score(X_train, y_train))
print('test  accuracy: %.3f' % gbct.score(X_test, y_test))

train accuracy: 0.886
test  accuracy: 0.848

In [125]:
df2 = pd.read_csv("test.csv")
df2 = df2.drop(["PassengerId","Cabin"], axis = 1)
df2 = df2.replace("male",0).replace("female",1).replace("S",0).replace("C",1).replace("Q",2)

honor1 = []
for i in df2["Name"]:
    if "Master" in i :
        honor1.append(0)
    elif "Mr" in i :
        honor1.append(1)
    elif "Miss" in i :
        honor1.append(2)
    elif "Mrs" in i :
        honor1.append(3)
    else:
        honor1.append("4")
    
df2['honor'] = np.array(honor1)
df2["FamilySize"] = df2["SibSp"] + df2["Parch"] + 1
df2 = df2.drop(["SibSp","Parch","Name","Ticket","Fare"],axis=1)
df2["Embarked"].fillna(1)
df2 = df2.fillna(df2.mean())
X1 = df2.as_matrix()
y1 = gbct.predict(X1)

In [127]:
y1.shape

(418,)

In [128]:
a =[i for i in range(892,1310)]
dfnew2 = pd.DataFrame({'PassengerId':a ,'Survived': y1})
dfnew2.to_csv("pred5.csv")

In [132]:
from sklearn import svm

clf = svm.SVC()
clf.fit(X_train, y_train)
print('train accuracy: %.3f' % clf.score(X_train, y_train))
print('test  accuracy: %.3f' % clf.score(X_test, y_test))

train accuracy: 0.864
test  accuracy: 0.803